header {
  height: 450px;
  width: inherit;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
  background-color: #002f45;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-family: 'Roboto Slab', serif;
}